<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <modifyHyperlink>
        <processor type="Sitecore.Support.Modules.EmailCampaign.Core.Pipelines.GenerateLink.MapHostname, Sitecore.Support.EXMHostnameDiagnostics" patch:instead="processor[@type='Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.MapHostname, Sitecore.EmailCampaign']" />
      </modifyHyperlink>
    </pipelines>
  </sitecore>
</configuration>